*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}


.App{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.container{
    background: rgb(226, 222, 208);
}